.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
}

.form{
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formGroup{
    display: flex;
    flex-direction: column;
    width:100%;
    margin-bottom: 15px;
}

.formGroup label{
    font-size: 0.7em;
    margin-bottom: 10px;
}

.form span{
    color: #dc1313;
}

.formGroup input[type="button"]{
    color: blue;
}

.signUp {
    font-size: 0.5em;
}
